@use './variables' as *;
@use './mixins' as *;

// Home Page Styles

.home-graphic {
  display: flex;
  justify-content: center;

  img {
    width: 100%;
    height: auto;
    flex-basis: 50%;
    max-width: 40%;
  }
}

.home-button-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2%;
  a {
    margin: 2% 5%;
  }
}