@use "./variables" as *;
@use "./mixins" as *;

@media (max-width: 1260px) {

  .find-poll-links {
    flex-direction: column;
    align-items: center;
    .button {
      margin: 2% 0 2% 0;
    }
  }
  .voting-ticket {
    display: flex;
    justify-content: center;
  }
  .voting-booth-container {
    img {
      width: 65%;
    }
    margin: 2% 0 2% 0;
    align-items: center;
    label {
      font-size: $fs-med;
    }
    .poll-heading {
      font-size: $fs-med;
      margin-top: 10px;
    }
  }
}

@media (max-width: 800px) {
  .find-poll-container {
    min-height: 0;
  }
  .button-container {
    button {
      &.primary {
        margin: 0;
      }
    }
    .secondary-buttons {
      flex-direction: column;
      a {
        margin: 0;
      }
      button {
        margin: 5px 0;
      }
    }
  }
}
@media (max-width: 444px) {
  .results-buttons {
    flex-direction: column;
    flex-wrap: nowrap;
    min-width: 100%;
    align-items: center;
    a {
      width: inherit;
      text-align: center;
    }
    :first-child {
      margin-bottom: 12px;
    }
  }

  .progress-bars-container {
    margin-bottom: 0px;
  }
}

@media (max-width: 428.1px) {
  .voting-booth-container {
    width: 100%;
  }
  .voting-question {
    h3 {
      font-size: $fs-default;
      .poll-heading {
        font-size: $fs-med;
      }
    }
  }
  .button-container {
    .button {
      &.primary {
        font-size: $fs-default;
        margin: 10px 0 0 0;
      }
      &.secondary {
        margin: 10px 0 0 0;
      }
    }
  }
  .confirmation-container {
    h2 {
      font-size: $fs-lrg;
    }
    .button-container {
      margin: 0;
    }

  }

  .results {
    .results-h2 {
    font-size: $fs-med;
    }
    .results-bar-h2 {
      font-size: $fs-small;
    }
  }
}

@media (min-width: 320px) and (max-width: 428px) {
}
