@use "./variables" as *;

// Headings
@mixin heading($size-value) {
    font-size: $size-value;
    font-family: $ff;
    font-weight: $fw-bold;
    color: $med-purple;
    text-transform: capitalize;
  }