@use './variables' as *;
@use './mixins' as *;

// Navigation Styles

.nav-bar {
  width: 100%;
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
}

.nav-ul {
  display: flex;
  justify-content: flex-end;
}

.menu-link {
  border: 1px solid $transparent;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: $fw-bold;
  &:hover,
  &:focus {
    border: 1px solid $dark-purple;
    background-color: $med-purple;
    color: $white;
  }
}