@use "./variables" as *;

// attempting to change font size of sweetalert2 text
.swal2-html-container,
.swal2-popup {
  font-size: 1.8rem;
  color: $med-purple;
  border-radius: 20px;
  font-family: $ff;
}

.swal2-styled {
  color: $white;
  padding: 10px 20px;
  font-family: $ff;
  font-weight: $fw-bold;
  border: none;
  &.swal2-confirm {
    background-color: $pink;
    color: $dark-purple;
    border-radius: 20px;
    border: none;
  }
  &.swal2-cancel {
    background-color: $light-purple;
    border-radius: 20px;
    border: none;
  }
}