@use './variables' as *;
@use './mixins' as *;

html {
  font-size: $fs-global;
  color: $dark-purple; 
  text-transform: capitalize;
}

a, 
p,
button {
  font-size: $fs-default;
  font-family: $ff;
}

h1 {
  @include heading($fs-med);
  margin: 0;

}

h2 {
  @include heading($fs-2xl);
  margin: 5% 0 5% 0;
  text-align: center;
}

.poll-input {
  font-size: $fs-default;
  color: $med-purple;
}

.results h2 {
  color: $dark-purple;
}