@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

// Colours
$white: #fcfcfc;
$black: #000000;
$dark-purple: #22162B;
$med-purple: #451F55;
$light-purple: #724E91;
$pink: #E54F6D;
$yellow: #F8C630;
$transparent: #00000000;

// Fonts Sizes
$fs-global: 62.5%;
$fs-3xl: 8rem;
$fs-xl: 6rem;
$fs-lrg: 3rem;
$fs-med: 2.2rem;
$fs-small: 1.8rem;
$fs-default: 1.6rem;

// Font Weights
$fw-default: 400;
$fw-bold: 700;

// Font Family
$ff:'Quicksand', sans-serif;
