@use './variables' as *;
@use './mixins' as *;

.confirmation-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        height: auto;
        max-width: 40%;
    }

    h2 {
        margin: 25px 0 15px;
    }

    a {
        margin-bottom: 30px;
    }
}