@use "./variables" as *;
@use "./mixins" as *;

.voting-booth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid $pink;
  border-radius: 20px;
  max-width: 55%;
  margin: 0 auto;
  padding: 3%;
  img {
    width: 65%;
  }
  h3 {
    text-align: center;
  }

  label {
    font-size: $fs-med;
    font-family: $ff;
    color: $dark-purple;
  }

  input[type="radio"] {
    accent-color: $pink;
    height: $fs-med;
    width: $fs-med;
    margin-top: 2px;
  }

  .poll-heading {
    font-size: $fs-lrg;
    display: block;
    margin-bottom: 10px;
  }
}

.voting-form {
  display: flex;
  flex-direction: column;
  margin: 25px 0;

  .selection-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;

    input {
      margin-right: 25px;
    }
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  button {
    min-width: 200px;
    margin: 10px 0;
  }

  .secondary-buttons {
    display: flex;
    flex-direction: row;

    a {
      margin: 10px 0;
      width: 200px;
      text-align: center;
      margin-left: 10px;
    }

    button {
      margin-right: 10px;
    }
  }
}
